<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class X - Karachi Public School</title>
</head>
<body>
    <ul>
        <li>The marks of Waqas is: {{marks['Waqas']}}</li>
        <li>The marks of Hamza is: {{marks['Hamza']}}</li>
        <li>The marks of Ahmed is: {{marks['Ahmed']}}</li>
        <li>The marks of Hitesh is: {{marks['Hitesh']}}</li>
        <li>The marks of Abbas is: {{marks['Abbas']}}</li>
        <li>The marks of Dinesh is: {{marks['Dinesh']}}</li>
    </ul>
</body>
</html>