<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='anotherstyle.css' ) }}">
</head>
<body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quisquam accusantium nobis enim in illo fugiat non perspiciatis assumenda, eos repellat reprehenderit voluptate aspernatur dignissimos porro adipisci, deserunt error at? Quod vel vitae at!
</body>
</html>
